@media (max-width: 520px) {
    #hero{
        max-width: 100%;
        overflow-x: hidden;
    }
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 100%;
        overflow-x: hidden;
    }
    #content img{
        width: 95%;
    }
    #adventure{
        width: 100%;
        margin-left: 10px;
    }
    #adventure h5{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #adventure h3{
        font-size: 40px;
    }
    #adventure p{
        font-size: 18px;
    }
    #podnav h3{
        margin-left: 10px;
    }
    #podnav ul li{
        display: none;
    }
    #bars{
        z-index: 11;
        visibility: visible;
        margin-right: 10px;
        font-size: 25px;
        padding: 5px 5px;
        color: var(--secondary-color);
        cursor: pointer;
    }
    #menu{
        visibility: visible;
    }
    .fa-moon{
        margin-right: 20px;
    }
    .fa-sun{
        margin-right: 20px;
    }
    
    /*--------------------------------------*/
    #hero2{
        max-width: 100%;
        overflow-x: hidden;
    }
    #content2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        max-width: 100%;
        overflow-x: hidden;
    }
    #content2 img{
        width: 100%;
    }
    #destination{
        width: 100%;
        margin-left: 10px;
    }
    #destination h5{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #destination h3{
        font-size: 40px;
    }
    #destination p{
        font-size: 18px;
    }
    #destination button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 35px;
        font-size: 15px;
    }
   /*--------------------------------------*/
    #hero4{
        position: relative;
        height: 135vh;
        background-color: var(--primary-color);
        max-width: 100%;
        overflow-x: hidden;
    }
    #hero4 h3{
        font-size: 40px;
        top: 10%;
    }
    #content4{
        top: 10%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #map{
        margin-top: -80px;
    }
    #Layer_1{
        width: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    #map img{
        display: none;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
    #mapakonacna{
        display: block;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
    #marker1{
        position: absolute;
        z-index: 2;
        top: 315px;
        left: 440px;
        font-size: 30px;
        color: red;
        animation: prva 2s linear infinite;
    }
    @keyframes prva{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0);
        }
    }
    #argentina{
        display: none;
    }
    #marker2{
        position: absolute;
        z-index: 2;
        top: 305px;
        left: 585px;
        font-size: 30px;
        color: red;
        animation: druga 2s linear infinite;
    }
    @keyframes druga{
        0%{
            transform: translateY(-5px);
        }
        50%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-5px);
        }
    }
    #australija{
        display: none;
    }
    #marker3{
        position: absolute;
        z-index: 2;
        top: 250px;
        left: 505px;
        font-size: 30px;
        color: red;
        animation: treca 2s linear infinite;
    }
    @keyframes treca{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0);
        }
    }
    #afrika{
        display: none;
    }
    #marker4{
        position: absolute;
        z-index: 2;
        top: 205px;
        left: 550px;
        font-size: 30px;
        color: red;
        animation: cetvrta 2s linear infinite;
    }
    @keyframes cetvrta{
        0%{
            transform: translateY(-5px);
        }
        50%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-5px);
        }
    }
    #indija{
        display: none;
    }
    #marker5{
        position: absolute;
        z-index: 2;
        top: 170px;
        left: 485px;
        font-size: 30px;
        color: red;
        animation: peta 2s linear infinite;
    }
    @keyframes peta{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0);
        }
    }
    #spanija{
        display: none;
    }
    #marker6{
        position: absolute;
        z-index: 2;
        top: 190px;
        left: 410px;
        font-size: 30px;
        color: red;
        animation: sesta 2s linear infinite;
    }
    @keyframes sesta{
        0%{
            transform: translateY(-5px);
        }
        50%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-5px);
        }
    }
    #meksiko{
        display: none;
    }
    #marker7{
        position: absolute;
        z-index: 2;
        top: 155px;
        left: 580px;
        font-size: 30px;
        color: red;
        animation: sedma 2s linear infinite;
    }
    @keyframes sedma{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0);
        }
    }
    #kina{
        display: none;
    }
}