*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: rgb(43, 43, 43);
    --secondary-color: white;
    --third-color: white;
    --fourth-color: rgba(0,0,0,0.5);
    --fivht-color: rgba(0,0,0,0.5);
}
.lightmode{
   /* --primary-color: rgb(255, 255, 255); */
    --primary-color: rgb(247, 247, 247);
    --secondary-color: rgb(61, 61, 61);
    --third-color: rgb(255, 255, 255);
    --fourth-color: rgba(0, 36, 0, 0.5);
    --fivht-color: rgba(0,0,0,0.5);
}
#hero{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}
#navbar{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 20;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-moon{
    font-size: 20px;
    margin-right: 50px;
    padding: 5px 5px;
    border-radius: 15px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.2s;
}
.fa-moon:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.fa-sun{
    font-size: 20px;
    margin-right: 50px;
    padding: 5px 5px;
    border-radius: 15px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.2s;
}
.fa-sun:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
#podnav{
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#podnav h3{
    color: var(--secondary-color);
    cursor: pointer;
}
#podnav ul{
    display: flex;
    color: var(--secondary-color);
}
#podnav ul li{
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.3s;
}
#podnav ul li:hover{
    background-color: rgb(43, 165, 19);
}
#podnav ul a{
    text-decoration: none;
    color: var(--secondary-color);
}
#bars{
    visibility: hidden;
    z-index: 11;
    margin-right: 10px;
    font-size: 25px;
    padding: 5px 5px;
    color: var(--secondary-color);
    cursor: pointer;
}
#menu{
    margin-top: 20px;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    right: 0%;
    text-align: center;
    transition: 0.5s;
}
#menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: var(--secondary-color);
}
#menu ul li{
    list-style: none;
    cursor: pointer;
    margin: 30px auto;
    padding: 20px 25px;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}
#menu ul li:hover{
    background-color: rgb(43, 165, 19);
}
#menu ul a{
    text-decoration: none;
    color: var(--secondary-color);
}
#menu h5{
    color: rgb(40, 151, 18);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
#meic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--secondary-color);
    margin-top: 25px;
}
#meic .fa-facebook-f{
    font-size: 25px;
}
#meic .fa-instagram{
    font-size: 25px;
}
#meic .fa-twitter{
    font-size: 25px;
}
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
#content{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 25%;
    transform: translateY(-25%);
}
#content h3{
    color: var(--secondary-color);
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 10%;
}
#content img{
    position: relative;
    width: 100%;
    height: 50vh;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
#progresi{
    width: 100%;
    height: 30vh;
    position: relative;
    bottom: -10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#okvir{
    width: 240px;
    height: 240px;
    position: relative;
}
#okvir h5{
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
#spoljni{
    border: 1px solid green;
    border-radius: 50%;
    width: 239px;
    height: 239px;
    position: absolute;
}
#unutrasnji{
    border: 1px solid green;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#phiking{
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pcamping{
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
svg{
    height: 240px;
    width: 240px;
    transform: rotate(-90deg);
}
#prvi{
    stroke:#289712;
    stroke-width: 30px;
    fill: none;
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    animation: progresprvi 2s linear forwards;
}
#drugi{
    stroke:#289712;
    stroke-width: 30px;
    fill: none;
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    animation: progresdrugi 2s linear forwards;
}
circle{
    stroke: #289712;
    stroke-width: 30px;
    fill: none;
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    animation: progres 2s linear forwards;
    
}
@keyframes progresprvi{
    100%{
        stroke-dashoffset: 363;
    }
}
@keyframes progresdrugi{
    100%{
        stroke-dashoffset: 297;
    }
}
#hero2{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
#content2{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 25%;
    transform: translateY(-25%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#posecenost{
    cursor: pointer;
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: -1;
}
#top h3{
    color: var(--secondary-color);
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
#prvired{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 70px;
}
#prvired h5{
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-left: 20px;
}
#linija1{
    border-radius: 10px;
    border: 2px solid white;
    width: 300px;
    height: 10px;
    position: relative;
    margin-right: 20px;
}
#linija1 span{
    background-color: rgb(40, 151, 18);
    width: 43%;
    height: 10px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
#drugired{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 10px;
}
#drugired h5{
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-left: 20px;
}
#linija2{
    border-radius: 10px;
    border: 2px solid white;
    width: 300px;
    height: 10px;
    position: relative;
    margin-right: 20px;
}
#linija2 span{
    background-color: rgb(40, 151, 18);
    width: 30%;
    height: 10px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
#trecired{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 10px;
}
#trecired h5{
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-left: 20px;
}
#linija3{
    border-radius: 10px;
    border: 2px solid white;
    width: 300px;
    height: 10px;
    position: relative;
    margin-right: 20px;
}
#linija3 span{
    background-color: rgb(40, 151, 18);
    width: 27%;
    height: 10px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
#explore{
    width: 500px;
    height: 400px;
}
#explore h5{
    color: rgb(40, 151, 18);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
#explore h3{
    color: var(--secondary-color);
    font-size: 60px;
}
#explore p{
    color: var(--secondary-color);
    margin-top: 40px;
    font-size: 20px;
}

